In [53]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [54]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/96.0.4664.45/chromedriver_mac64.zip
Driver has been saved in cache [/Users/ramirramarshall/.wdm/drivers/chromedriver/mac64/96.0.4664.45]

## Visit the NASA mars news site

In [3]:
# Visit the Mars news site
url = 'https://redplanetscience.com/'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [16]:
# Convert the browser html to a soup object
html = browser.html
news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('div.list_text')
print(slide_elem)

<div class="list_text">
<div class="list_date">December 11, 2021</div>
<div class="content_title">NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes</div>
<div class="article_teaser_body">After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.</div>
</div>

In [5]:
#display the current title content
slide_elem.find("div", class_="content_title")

In [14]:
# Use the parent element to find the first a tag and save it as `news_title`
news_title = slide_elem.find("div", class_="content_title").text.strip()
print(news_title)

NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes

In [15]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find("div", class_="article_teaser_body").text.strip()
print(news_p)

After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.

## JPL Space Images Featured Image

In [55]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [60]:
# Find and click the full image button
browser.links.find_by_partial_text("FULL IMAGE").click()

In [61]:
# Parse the resulting html with soup
space_html = browser.html
img_soup = soup(space_html, 'html.parser')
img_elem = img_soup.find("img", class_="headerimage")

In [62]:
# find the relative image url
img_url_rel = img_elem["src"]
print(img_url_rel)

image/featured/mars3.jpg

In [64]:
# Use the base url to create an absolute url
img_url = url + "/" + img_url_rel
print(img_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

## Mars Facts

In [70]:
# Use `pd.read_html` to pull the data from the Mars-Earth Comparison section
# hint use index 0 to find the table
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

marsFacts = pd.read_html(url, header=0)[0]
marsFacts.head()

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days

In [71]:
#rename column
marsFacts = marsFacts.rename(columns={'Mars - Earth Comparison': 'Description'})

#set index
marsFacts = marsFacts.set_index("Description")

#print df
marsFacts

                               Mars            Earth
Description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [72]:
#convert data to HTML table string
marsFacts_html_table = marsFacts.to_html()
print(marsFacts_html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

## Hemispheres

In [48]:
url = 'https://marshemispheres.com/'

browser.visit(url)

In [49]:
# Create a list to hold the images and titles.
hemisphere_image_urls = []

# Get a list of all of the hemispheres
links = browser.find_by_css('a.product-item img')

# Next, loop through those links, click the link, find the sample anchor, return the href
for i in range(len(links)):
    
    
    # We have to find the elements on each loop to avoid a stale element exception
    browser.find_by_css("a.product-item img")[i].click()
    
    # Next, we find the Sample image anchor tag and extract the href
    sample_elem = browser.find_link_by_text("Sample").first
    img_url = sample_elem["href"]
    
    # Get Hemisphere title
    title = browser.find_by_css("h2.title").text
    
    #create dictionary to stroy data for url and title
    img_url_dict = {
        "title": title,
        "img_url": img_url
    }
    
    # Append hemisphere object to list
    hemisphere_image_urls.append(img_url_dict)
    
    # Finally, we navigate backwards
    browser.back()

In [50]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [51]:
browser.quit()